<div class="body">
  <h2>{{action}} item {{data.name}}</h2>
  <form *ngIf="!message && !error" class="form" (keypress)="emitEvent($event)" (mouseleave)="stop()">
    <label>Item:
      <input [(ngModel)]="data.name" placeholder="Item Name" name="name" />
    </label><br>
    <label>Quantity:
      <input [(ngModel)]="data.quantity" placeholder="Item Quantity" name="quantity" />
    </label><br>
    <label>Rate:
      <input [(ngModel)]="data.unitPrice" placeholder="Unit Price" name="unitPrice" />
    </label><br>
    <div class="buttons">
      <button (click)="submit(); stop()" class="save">Save</button>
      <button *ngIf="action==='Update'" routerLink="/stock/{{data.id}}/view" class="red">
        Cancel
      </button>
    </div>
  </form>
  <div *ngIf="message || error" class="message {{error ? 'error': 'success'}}"><em>{{message || error}}</em></div>
</div>