/* You can add global styles to this file, and also import other style files */
#notification {
    height: 100px;
    width: 200px;
    background: aliceblue;
    border: blueviolet;
    position: absolute;
    top: 10%;
    right: 2%;
}
